---
import Top from "../../icons/top.svg"
---



<button type="button" class="to-top ">
    <Top size={45} class="z-50 text-main text-3xl fixed bottom-5 left-5 cursor-pointer" />    
</button>

<script is:inline type="module">
    const btn = document.querySelector(".to-top");
    btn.addEventListener("click", () => {
        document.documentElement.scrollTo({
            top: 0,
            behavior: "smooth",
        })
    });
</script>