---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>
<script is:inline type="module" astro:page-load>
  // @ts-nocheck
  const swiper = new Swiper(".swiper", {
    
    autoplay: {
    delay: 5000,
  },
    direction: "horizontal",
    loop: true,

    // Pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    // Scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
      draggable: true,
    },
  });
</script>



<!-- Slider main container -->
<section class="w-full overflow-hidden py-20">
  <div class="swiper h-[90vh]">
    <!-- Wrapper -->
    <div class="swiper-wrapper text-center">
      <!-- Slides -->
      <div class="swiper-slide relative bg-[url('/br_front_1.jpg')] bg-cover bg-center">
        <div class="absolute inset-0 bg-black opacity-70"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white p-4">
          <div class="max-w-4xl mx-auto space-y-6">
            <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium animate-fade-in-up">
              {t("nav.short")}
            </h1>
            <p class="text-md font-light font-pattern leading-relaxed max-w-2xl mx-auto">
              {t("nav.short-desc")}
            </p>
            <a href={translatePath("/rent/")} 
            
               class="inline-block bg-main hover:bg-second font-pattern hover:text-white transition-colors uppercase px-8 py-3 text-sm rounded-md">
              {t("nav.more")}
            </a>
          </div>
        </div>
      </div>

      <!-- Repetir misma estructura para los otros slides -->
      <div class="swiper-slide relative bg-[url('/br_front_2.jpg')] bg-cover bg-center">
        <div class="absolute inset-0 bg-black opacity-70"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white p-4">
          <div class="max-w-4xl mx-auto space-y-6">
            <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium">
              {t("nav.manage")}
            </h1>
            <p class="text-md font-light font-pattern leading-relaxed max-w-2xl mx-auto">
              {t("nav.manage-desc")}
            </p>
            <a href={translatePath("/property-management/")} 
               class="inline-block bg-main hover:bg-second font-pattern hover:text-white transition-colors uppercase px-8 py-3 text-sm rounded-md">
              {t("nav.more")}
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide relative bg-[url('/br_front_3.jpg')] bg-cover bg-center">
        <div class="absolute inset-0 bg-black opacity-70"></div>
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white p-4">
          <div class="max-w-4xl mx-auto space-y-6">
            <h1 class="text-4xl sm:text-7xl uppercase font-heading font-medium">
              {t("nav.concierge")}
            </h1>
            <p class="text-md font-light font-pattern leading-relaxed max-w-2xl mx-auto">
              {t("nav.concierge-desc")}
            </p>
            <a href={translatePath("/daily-assistance/")}  
               class="inline-block bg-main hover:bg-second font-pattern hover:text-white transition-colors uppercase px-8 py-3 text-sm rounded-md">
              {t("nav.more")}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>




