---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import SabaiCard from "../sections/SabaiCard.astro";
import BoraCard from "../sections/BoraCard.astro";
import AuraCard from "../sections/AuraCard.astro";
---

<section class="bg-gray-100 py-20 lg:py-36">
  <div
    class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
  >
    <div class="mx-auto max-w-screen-xl px-4 py-20 lg:py-16">
      <div class="text-center mb-6 sm:mb-8">
        <p
          class="inline-block px-3 py-1 mb-4 text-xs font-medium tracking-wider uppercase font-pattern rounded-full bg-main"
        >
          {t("nav.tourist")}
        </p>
      </div>

      <div class="text-center max-w-3xl mx-auto sm:mb-10">
        <h1
          class="text-2xl sm:text-3xl lg:text-4xl font-heading mb-3 sm:mb-4 text-gray-900"
        >
          {t("plans.title")}
        </h1>
        <p class="font-pattern text-sm md:text-lg px-2">{t("plans.desc")}</p>
      </div>
    </div>

    <div class="py-10">
      <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
        <h2
          class="max-w-lg mb-5 font-sans text-3xl tracking-tight text-gray-900 sm:text-4xl sm:leading-none md:mb-6 group"
        >
          <span class="inline-block mb-1 sm:mb-4 font-heading"> Silver </span>
          <div
            class="h-1 ml-auto duration-300 origin-left transform bg-second scale-x-30 group-hover:scale-x-100"
          >
          </div>
        </h2>
        <p class="text-gray-800 font-pattern lg:max-w-lg">
          <span class="text-red-500">*</span>
          {t("plans.price")}
        </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <SabaiCard />
        <BoraCard />
        <AuraCard />
      </div>

      <div class="py-5 text-center mb-6">
        <button
          type="button"
          class="uppercase bg-main p-2 text-center tracking-wide text-white font-display transition hover:bg-second focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 rounded-lg cursor-pointer"
        >
          <a
            href="https://api.whatsapp.com/send/?phone=573012291567&text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios"
            target="_blank"
          >
            {t("book.now")}
          </a>
        </button>
      </div>
    </div>
  </div>
</section>
