---
// Images
import { Image } from 'astro:assets';
import PicOne from "../../assets/milagros.png"
import PicTwo from "../../assets/beny.png"
import PicThree from "../../assets/grace.png"
// Language imports
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<section class="bg-white pt-36 pb-32">
    <!-- Header de la sección -->
    <div class="relative h-auto bg-gray-100 py-10">
      <div class="container px-6 mx-auto">
        <h1 class="text-sm font-pattern uppercase text-gray-600 text-center">{t("team.title")}</h1>
        <h2 class="mt-2 text-center text-2xl font-heading uppercase text-gray-900 sm:text-4xl">
          {t("team.desc")}
        </h2>
      </div>
    </div>
  
    <!-- Cards de los miembros del equipo -->
    <div class="container px-6 mx-auto ">
      <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-3">
        <!-- Card individual -->
        <div class="group flex flex-col items-center p-6 border border-gray-200 rounded-xl dark:border-gray-700 hover:shadow-lg transition-shadow duration-300">
          <div class="overflow-hidden rounded-xl aspect-square">
            <Image alt="" src={PicOne} />
            
          </div>
          <h1 class="mt-4 text-2xl font-heading text-gray-700 capitalize dark:text-white">Milagros Ortiz</h1>
          <p class="mt-2 font-pattern text-gray-500 capitalize dark:text-gray-300">
            {t("team.rep")}
          </p>
        </div>
  
        <!-- Card individual -->
        <div class="group flex flex-col items-center p-6 border border-gray-200 rounded-xl dark:border-gray-700 hover:shadow-lg transition-shadow duration-300">
          <div class="overflow-hidden rounded-xl aspect-square">
            <Image alt="" src={PicTwo} />
            
          </div>
          <h1 class="mt-4 text-2xl font-heading text-gray-700 capitalize dark:text-white">Beny Prada</h1>
          <p class="mt-2 font-pattern text-gray-500 capitalize dark:text-gray-300">CEO</p>
        </div>
  
        <!-- Card individual -->
        <div class="group flex flex-col items-center p-6 border border-gray-200 rounded-xl dark:border-gray-700 hover:shadow-lg transition-shadow duration-300">
          <div class="overflow-hidden rounded-xl aspect-square">
            <Image alt="" src={PicThree} />
            
          </div>
          <h1 class="mt-4 text-2xl font-heading text-gray-700 capitalize dark:text-white">Grace Garcia</h1>
          <p class="mt-2 text-gray-500 font-pattern capitalize dark:text-gray-300">{t("team.rep")}</p>
        </div>
      </div>
    </div>
  </section>
  