---

import Layout from "../layouts/Layout.astro";

---

<Layout title="404 - HTTP ERROR">
    <div class="min-h-screen place-content-center text-center">
        
        <p class="font-body text-second text-9xl">400</p>
        <p class="font-body text-7xl">HTTP ERROR : BAD REQUEST</p>
    </div>
</Layout>