---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


---
<Layout title="About EN">

    <button>
        <a href={translatePath('/')}>
            Inicio
          </a>
        

    </button>

    <p class="text-5xl text-center">About English</p>

    <div class="bg-hero bg-cover w-full h-90"></div>

</Layout>