---
import Layout from "../layouts/Layout.astro";


---
<Layout title="About ES">

    <button>
        <a href="/">Atras</a>
    </button>

    <p class="text-5xl text-center">About español</p>

</Layout>