---
import Layout from "../layouts/Layout.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<Layout title={t("nav.tourist")}>
    <section class="dark:bg-slate-800 bg-gray-50 lg:pt-24">
        <div class="mx-auto max-w-screen-xl px-4 py-32 lg:py-16">
          <!-- Imagen destacada -->
        
            <div class="mb-8">
              <img
                src="https://images.unsplash.com/photo-1707623988408-ab88c9981730?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
                class="rounded-lg w-full object-cover h-64 md:h-96"
              />
            </div>
  
          <!-- Título y detalles del post -->
          <div class="text-center mb-12">
            <h1 class="text-2xl lg:text-4xl font-heading mb-4 text-gray-900 dark:text-white">{t("nav.tourist")}</h1>
            
          </div>
    
          <!-- Contenido del post -->
          <article class="prose prose-lg dark:prose-invert max-w-none mx-auto">
            Content
          </article>
        </div>
      </section>
</Layout>