---

import Layout from "../../layouts/Layout.astro";

---

<Layout title="500 - Internal Server Error">
    <div class="min-h-screen place-content-center text-center">
        <p class="font-body text-9xl">500</p>
        <p class="font-body text-7xl">Internal Server Error</p>
    </div>
</Layout>