---
import Layout from "../../layouts/Layout.astro";
import LandModalCard from "../../components/modals/LandModalCard.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---


<Layout title= {t("land.title")}>
    <section class="bg-gray-100 lg:pt-24">
      <div class="mx-auto max-w-screen-xl px-4 py-32 lg:py-16">
        
        <!-- Título y detalles del post -->
    

        <div class="text-center">
          <p
            class="inline-block px-3 py-1 mb-4 text-xs font-medium tracking-wider uppercase font-pattern rounded-full bg-main"
          >
          {t("nav.services")}
          </p>
        </div>
  
        <div class="text-center">
          <h1 class="text-2xl lg:text-4xl font-heading mb-4 text-gray-900">
            {t("land.title")}
          </h1>
  
          <p class="text-base text-gray-700 md:text-lg">
            Descubra la excelencia en Servicios de Transporte Terrestre con nuestras opciones exclusivas
          </p>
        </div>
  
    
  
            <LandModalCard />
      </div>
    </section>
  </Layout>