---

interface Props {
	title: string;
}
const { title } = Astro.props;

import "../../src/styles/global.css"
import Basehead from "../components/layout/BaseHead.astro";


const currentLang = Astro.currentLocale || "es";

---

<!doctype html>
<html lang={currentLang}>
	<head>
		<Basehead title={title} />
		
	</head>
	<body>
		
		<slot />
		
	</body>
</html>

